.map-area {
    padding: 15px;
}

.map-layout {
    display: flex;
    flex-wrap: wrap;
    align-content: center;
}

.map-tile {
    /* border: 1px transparent solid; */
}

.map-image {
    position: relative;
    width: 100%;
    height: fit-content;
}