<div class="map-area">

    <app-player />

    <div class="map-layout"
        [ngStyle]="{ height: currentRoom().width / currentRoom().height * 3 > 5 ? '100%' : 'fit-content'}">
        @for (tile of currentTiles(); track $index) {
        <div class="map-tile" [ngStyle]="{ width: tileDimensions(), height: tileDimensions() }">
            @if (tile && tile.imageUrl) {
            <img class="map-image" [src]="tile.imageUrl" alt="Mansion tile">
            }
        </div>
        }
    </div>

</div>